@import "../_global.css";
@import "../_nav.css";

.box-sidebar {
  opacity: 0.2;
}
.box-sidebar:hover {
  opacity: 1;
  transition: opacity 1s;
}

@media screen and (max-width: 60rem) {
  nav {
    opacity: 1;
  }
}

.isDraft h1,
.isDraft h2,
.isDraft h2 a
{
  color: #666;
}

article img.preview-image {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}
