{% extends "_focus.html" %}

{% block pagename %}404{% endblock %}
{% block canonicalUrl %}{% endblock %}
{% block pageTitlePrefix %}404{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/_global.css" type="text/css">
  <link rel="stylesheet" href="/_nav.css" type="text/css">
{% endblock %}

{% block main %}
  <h1>404 - Page not found ...</h1>
  <p>
    Sorry, the page you were looking for was not found.
    Did you mean any of the latest 5 articles, see below?<br/>
    If not you might restart from <a href="/">the home page</a>.
  </p>
  <br/>
  <br/>
  <br/>
  <h2>Latest 5 Articles</h2>
  {% for post in posts %}
    <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2><a href="{{post.url}}" itemprop="url">
          <span itemprop="name headline">{{post.headline}}</span></a>
        {{ ' 📺' if post.hasVideo else '' }}</h2>
      </header>
      <div class="content">
        <p class="abstract">{{ post.abstractAsHtml | safe }}</p>
      </div>
    </article>
  {% endfor %}

{% endblock %}
