{% extends "_empty.html" %}

{% set pageTitlePrefix %}{% block pageTitlePrefix %}{% endblock %}{% endset %}
{% set canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}

{% block metaTwitter %}
  {% block metaTwitterCard %}<meta name="twitter:card" content="summary" />{% endblock %}
  <meta name="twitter:site" content="@jskatas" />
  <meta name="twitter:title" content="{{ pageTitlePrefix }}" />
{% endblock %}

{% block metaOpenGraph %}
  <meta property="og:title" content="{{ pageTitlePrefix }}">
  <meta property="og:type" content="website">
  {% if canonicalUrl %}<meta property="og:url" content="{{ canonicalUrl }}">{% endif %}
  <meta property="og:site_name" content="{{ site.title }} - {{ site.subtitle }}">
{% endblock %}

{% block moreHtmlElements %}
  <script async defer type="module" src="https://more-html.github.io/components/src/Heading-loader.js"></script>
{% endblock %}
{% block head %}{% endblock %}

{% import "_parts.html" as parts %}
{% block body %}
  {{ parts.sitename(site) }}
  <div>
    {{ parts.primaryNavigation(navigationItems) }}
    <main class="box-main-content">
      {% block main %}{% endblock %}
    </main>
    <div class="box-sidebar">
      <h3>Latest Katas</h3>
      <p>
        The <b>String API</b>
        has received a new kata
        <code>string.trimStart()</code>
        released November 28th, 2020.
      </p>
      <p style="text-align: center">
        <a href="https://jskatas.org/#bundle-es10-katas" target="_blank" class="link-as-button">Open Kata</a>
      </p>

      <h3>Did You Know?</h3>
      <p>
        <code>Number.isInteger()</code>
        was introduced with ES6 in 2015,
        it can be used to determine if a value is an integer.
        <code>Number.isInteger(0) === true</code>
      </p>
      <p style="text-align: center">
        <a href="https://jskatas.org/#bundle-es1-katas" target="_blank" class="link-as-button">Open Kata</a>
      </p>
    </div>
  </div>

  {{ parts.pageFooter(navigationItems) }}
  {{ parts.secondaryNavigation(navigationItems) }}
{% endblock %}
