{% macro _itemsAsListOfLinks(items) %}
  <ul>
    {% for item in items %}
      <li><a href="{{ item.path }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro primaryNavigation(navigationItems) %}
  <nav class="primary box-sidebar">
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}

{% macro sitename(site, navigationItems) %}
  <header class="sitename">
    <a href="/">{{ site.title }}</a>
    <p class="subtitle">
      {{ site.subtitle }}
    </p>
  </header>
{% endmacro %}

{% macro pageFooter(navigationItems) %}
  <footer>
    <div>
      <b>Pages</b>
      {{ _itemsAsListOfLinks(navigationItems) }}
    </div>

    <div>
      <b>Contact</b>
      <ul>
        <li><a href="https://twitter.com/wolframkriesing" rel="me">Twitter</a></li>
        <li><a href="https://codeberg.com/wolframkriesing" rel="me">Codeberg</a></li>
        <li><a href="https://github.com/wolframkriesing" rel="me">Github</a></li>
        <li><a href="mailto:w+through-jskatas-blog-footer-contact@kriesing.de">Email</a></li>
      </ul>
    </div>
  </footer>
{% endmacro %}

{% macro secondaryNavigation(navigationItems) %}
  <nav class="secondary">
    <div class="menu-button">&#9776;</div>
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}


{% macro _backgroundGradient(percent) %}
  background: linear-gradient(to bottom, white 30%, rgba(255,255,255,0.5) 0), linear-gradient(to right, var(--color-overlay) {{ percent }}%, transparent 0)
{% endmacro %}

{% macro _tagsList(groups) %}
  {% for group in groups %}
    <li style="{{ _backgroundGradient(group.gradientWidthInPercent) }}">
      <a href="{{ group.url }}">#{{group.tagSlug}}</a>
    </li>
  {% endfor %}
{% endmacro %}

{% macro tagsNav(topGroups, alphabeticallySortedGroups) %}
  <nav class="tags">
    <header>Tags</header>
    <input type="checkbox" id="which-tags-toggle"/>
    <label for="which-tags-toggle">
      <span class="top10">Top 20</span>
      <span class="all">A-Z ↓</span>
    </label>
    <ol class="top-tags">
      {{ _tagsList(topGroups) }}
    </ol>
    <ol class="tags-alphabetically-sorted">
      {{ _tagsList(alphabeticallySortedGroups) }}
    </ol>
  </nav>
{% endmacro %}

{% macro monthsNav(groups) %}
  <nav class="months">
    <header>Posts by Month</header>
    <ol>
      {% for group in groups %}
      <li style="{{ _backgroundGradient(group.gradientWidthInPercent) }}">
          <a href="{{ group.url }}">{{ group.yearAndMonth | toReadableDate }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
