{% extends "_focus.html" %}

{% block pagename %}home{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/{% endblock %}
{% block pageTitlePrefix %}Home{% endblock %}
{% block head %}<link rel="stylesheet" href="/home.css" type="text/css">{% endblock %}

{% block main %}
  <h1>Latest Posts</h1>

  {% import "blog/_parts.html" as blogParts %}
  <section>
    {% for post in posts %}
      {{ blogParts.articlePreview(post) }}
    {% endfor %}
  </section>
{% endblock %}
